﻿@inherits CounterBase
@page "/"

@if (!String.IsNullOrWhiteSpace(_Message)) {
  <p>@_Message</p>
}

@if (Loading) {
  <div style="width: 100%; height:600px; display:grid;">
    <div class="loadingio-spinner-dual-ring-nymfzk5h1t" style="align-self: center; justify-self: center;">
      <div class="ldio-hhbv63t0dz">
        <div></div><div><div></div></div>
      </div>
    </div>
  </div>
} else {
  <p>Select configuration file and all result files (ctrl click to select multiple files).<br/>
  More info at <a href="https://bitbucket.org/wellingtonorienteeringclub/points-calculator" target="_blank">https://bitbucket.org/wellingtonorienteeringclub/points-calculator</a></p>
  <input type="file" @ref=InputTypeFileElement multiple @onchange="Process" />
  @if (!String.IsNullOrWhiteSpace(_Debug)) {
    <button @onclick=DownloadDebug>Download Log</button>
  }
}
